@font-face {
    font-family: 'AA Bebas Neue';
    src: url('AABebasNeue.eot');
    src: url('AABebasNeue.eot?#iefix') format('embedded-opentype'),
        url('AABebasNeue.woff') format('woff'),
        url('AABebasNeue.ttf') format('truetype'),
        url('AABebasNeue.svg#AABebasNeue') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChemyRetro';
    src: url('ChemyRetro.eot');
    src: url('ChemyRetro.eot?#iefix') format('embedded-opentype'),
        url('ChemyRetro.woff') format('woff'),
        url('ChemyRetro.ttf') format('truetype'),
        url('ChemyRetro.svg#ChemyRetro') format('svg');
    font-weight: 900;
    font-style: normal;
}

